<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yssh1020.blossom">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--사진 로컬 권한-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider1696863397282167"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
        <service
            android:name="push.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="push.FirebaseInstanceIDService" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashPage"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".LoginPage"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="dialog.SelectBirthDialog"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDatePickDialog" >
        </activity>
        <activity
            android:name="tab3.Upload_Article"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="tab3.SelectBG_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="tab5.ArticleActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="dialog.Public_Me_Article_More_Dialog"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialog" >
        </activity>
        <activity
            android:name="dialog.Private_Me_Article_More_Dialog"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialog" >
        </activity>
        <activity
            android:name="dialog.Me_ArticleMoreDialog"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialog" >
        </activity>
        <activity
            android:name="dialog.Other_ArticleMoreDialog"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialog" >
        </activity>
        <activity
            android:name="dialog.Article_Delete_Cancel_Dialog"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialog" >
        </activity>
        <activity
            android:name="dialog.BookMark_More_Dialog"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialog" >
        </activity>
        <activity
            android:name="tab5.Setting_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="common.Share_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="dialog.Send_Report_Dialog"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialog" >
        </activity>
        <activity
            android:name="tab5.OpenSource_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="dialog.Logout_Dialog"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialog" >
        </activity>
        <activity
            android:name="dialog.Send_Seed_Dialog"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialog" >
        </activity>
        <activity
            android:name="dialog.Logout_For_Not_Email_Dialog"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialog" >
        </activity>
        <activity
            android:name="tab5.Register_Email_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".Login_Email_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="dialog.Article_Start_CoachMark_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomHalfColorActivity" >
        </activity>
        <activity
            android:name="dialog.Background_Title_Diaog"
            android:screenOrientation="portrait"
            android:theme="@style/CustomDialog" >
        </activity>

    </application>

</manifest>